/* 通用样式 */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 为页面添加居中样式 */
.main-content {
    margin: 0 auto;
    max-width: 1000px;
    padding: 12px;
}

/* 顶部导航样式 */
nav {
    background-color: #2196F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: #fff;
    margin-left: 24px;
    text-decoration: none;
    font-size: 18px;
}

.nav-link:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

/* 表格样式 */
table {
    border-collapse: collapse;
    width: 100%;
}

thead th {
    background-color: #2196F3;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    text-align: left;
}

tbody td {
    font-size: 16px;
    padding: 12px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #0094ff;
    border-left: 1px solid #0094ff;
}


button:hover {
    background-color: #0d8bf5;
}

.layui-btn{
    background-color: #2196F3;
    color: #fff;
}
button {
    font-size: 18px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
}

.kongge2{
    height: 40px;
}