*{		/* CSS Reset */
    margin : 0;
    padding : 0;
}
#wrap{
    position : absolute;
    width : 100%;
    height : 100%;

    /* 加个背景颜色 */
    background: url(images/loginBG.jpg) no-repeat;
    /* 图片充满背景 */
    background-size: cover;
}
#top_content{
    /* 设置form大小 */
    width: 450px;
    height: 500px;

    /* 再设置内边距 使得内容更偏向于中央位置 */
    /* 上方，下方内边距为120px 与 左边与右边均为100px 按照逆时针 */
    /* 但是会撑大盒子 */
    padding: 120px 100px;

    /* 增加外边距 */
    /* 上下居中 然后左右居中 */
    margin: auto auto;

    left: -55%;
    transform: translateX(55%) translateY(16%);
}
#header{
    /* 设置大小 */
    width: 450px;
    /* 设置文本文字的大小 */
    left: 15%;
    transform: translateX(-15%);
    color: #008cfa;
}
#title-k{
    height: 40px;
}
#title-e{
    font-size: 14px;
}
#kongge{
    height: 70px;
}
.td-e{
    width: 8px;
}
.inputgri{
    /* 设置宽高 */
    height: 30px;
    width: 200px;

    /* 设置内边距 */
    padding: 0 10px;

    /* 去除边框 */
    border: none;

    /* 设置背景颜色 */
    background: #F8F9F9;

    /* 设置字体大小 */
    font-size: 18px;

    /* 给文本框加上阴影 */
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7), inset 0px 2px 5px #aaaaaa;

    /* 给文本框加上圆角边框 */
    border-radius: 5px;

    /* 给文本框中输入文字加上颜色 */
    color: #0b2188;
}
tr{
    height: 50px;
}
.button{
    /* 设置宽高 */
    width: 110px;
    height: 40px;

    /* 内部文本居中 */
    text-align: center;

    /* 圆角边框 */
    border-radius: 5px;

    /* 设置字体 */
    font:16px "黑体";
    color: #fff;

    /* 设置背景颜色 */
    background-color: #2196f3;
}
#kongge2{
    height: 40px;
}
.title-s{
    /* 去除下划线 */
    text-decoration: none;
    color: #008cfa;
}
.toregister{
    /* 去除下划线 */
    text-decoration: none;
    font-size: 12px;
    color: #008cfa;
}

.toregister:hover {
    /* 悬空的时候有被选中的样子 出现下划线*/
    text-decoration: underline;
    color: #008cfa;
}
