/* 通用样式 */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 为页面添加居中样式 */
.main-content {
    margin: 0 auto;
    max-width: 800px;
    padding: 24px;
}

/* 顶部导航样式 */
nav {
    background-color: #2196F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: #fff;
    margin-left: 24px;
    text-decoration: none;
    font-size: 18px;
}

.nav-link:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

#kongge2{
    height: 40px;
}

/* 表格样式 */
table {
    border-collapse: collapse;
    width: 100%;
}

thead th {
    background-color: #2196F3;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    text-align: left;
}

tbody td {
    font-size: 16px;
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

tbody tr:last-child td {
    border-bottom: none;
}

/* 调整表单的样式 */
form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}