/* 通用样式 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    font-size: 18px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
    height: 50px; /* 添加了这一行，设置按钮高度为40像素 */
}

button:hover {
    background-color: #0d8bf5;
}

/* 顶部导航样式 */
nav {
    background-color: #2196F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: #fff;
    margin-left: 24px;
    text-decoration: none;
    font-size: 18px;
}

.nav-link:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}


/* 为页面添加居中样式 */
.main-content {
    margin: 0 auto;
    max-width: 800px;
    padding: 24px;
}

/* 追踪表单样式 */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-group {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="text"],
input[type="number"],
input[type="datetime-local"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    font-size: 16px;
    height: 40px; /* 添加了这一行，设置输入框高度为40像素 */
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="datetime-local"]:focus {
    outline: none;
    border-color: #2196F3;
}

button[type="submit"] {
    width: auto;
    margin-top: 20px;
}
button[type="confirm"] {
    width: auto;
    margin-top: 20px;
}