<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>register</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <link rel="stylesheet" th:href="@{/css/register.css}" type="text/css"/>
    </head>
    <body>
        <div id="wrap">
            <div id="top_content">
                <div id="header">
                    <h1 id="title">
                        <a class="title-s" href="#">智能公路运输调度管理系统</a>
                    </h1>
                    <h1 id="title-k"></h1>
                    <h1 id="title-e">
                        <a class="title-s" href="#">Intelligent Highway Transportation Scheduling Management System</a>
                    </h1>
                </div>
                <div id="kongge"></div>
                <div id="content">
                    <p id="whereami"></p>
                    <form method="post" th:action="@{/user}">
                        <table border="0" cellpadding="0" cellspacing="0" class="form_table">
                            <tr>
                                <td align="middle" valign="middle">
                                    账号 :
                                </td>
                                <td align="left" valign="middle">
                                    <input class="inputgri" name="username" type="text"/>
                                </td>
                            </tr>
                            <tr>
                                <td align="middle" valign="middle">
                                    邮箱 :
                                </td>
                                <td align="left" valign="middle">
                                    <input class="inputgri" name="email" type="text"/>
                                </td>
                            </tr>
                            <tr>
                                <td align="middle" valign="middle">
                                    密码 :
                                </td>
                                <td align="left" valign="middle">
                                    <input class="inputgri" name="password" type="password"/>
                                </td>
                            </tr>
                            <tr>
                                <td align="middle" valign="middle">
                                    确认密码 :
                                </td>
                                <td align="left" valign="middle">
                                    <input class="inputgri" name="repassword" type="password"/>
                                </td>
                            </tr>
                            <tr>
                                <td valign="middle" align="middle">
                                    身份 :
                                </td>
                                <td valign="middle" align="left">
                                    <input type="radio" class="inputgri2" name="role_id" value="0" checked="checked"/>
                                    商户
                                    <input type="radio" class="inputgri2" name="role_id" value="1"/>
                                    承运商
                                </td>
                            </tr>
                        </table>
                        <div id="kongge2"></div>
                        <p align="middle" valign="middle">
                            <input class="button" type="submit" value="立即注册&raquo;"/>
                            <a class="back" href="/">已有账号,返回登录</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>