<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>承运商更改订单状态</title>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script th:src="@{/js/viewRequest.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/updateOrder.css}">
</head>
<body>

<!-- 顶部导航 -->
<nav>
    <div class="nav-links">
        <a th:href="@{/company-order-view}" class="nav-link active">承运商查看订单</a>
        <a th:href="@{/company-goods-view}" class="nav-link">承运商接单</a>
        <a th:href="@{/company-orderstatus-view}" class="nav-link">承运商更改订单状态</a>
        <a th:href="@{/company-transubmit-view}" class="nav-link">承运商增加运力</a>
        <a th:href="@{/company-info-view}" class="nav-link">个人中心</a>
        <a th:href="@{/relogin-view}" class="nav-link">登出</a>
    </div>
</nav>

<div class="main-content">
    <h1>承运商更改订单状态</h1>
    <table>
        <thead>
        <tr>
            <th>订单号</th>
            <th>货物名称</th>
            <th>出发地</th>
            <th>目的地</th>
            <th>运输价格</th>
            <th>发货人</th>
            <th>到达时间</th>
            <th>司机</th>
            <th>车辆</th>
            <th>当前位置</th>
            <th>发货状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody th:each="order:${orders}">
        <tr>
            <td th:text="${order.id}"></td>
            <td th:text="${order.goods_description}"></td>
            <td th:text="${order.begin_addr}"></td>
            <td th:text="${order.dest_addr}"></td>
            <td th:text="${order.price}"></td>
            <td th:text="${order.consigner_name}"></td>
            <td th:text="${order.dest_time}"></td>
            <td th:text="${order.drivername}"></td>
            <td th:text="${order.carId}"></td>
            <td th:text="${order.now_addr}"></td>
            <td th:text="${order.status}"></td>
            <td>
                <button class="layui-btn" test-active="test-form">更新</button>
            </td>
        </tr>
        <!-- ... -->
        </tbody>
    </table>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use(function(){
        var layer = layui.layer
            ,form = layui.form
            ,util = layui.util;

        //触发事件
        util.event('test-active', {
            'test-form': function(othis){
                var orderId = $(othis).parent().parent().find("td").eq(0).text();
                layer.open({
                    type: 1
                    ,resize: false
                    ,shadeClose: true
                    ,area: '350px'
                    ,title: '分配运力'
                    ,content: ['<ul class="layui-form layui-form-pane" style="margin: 15px;">'
                        ,'<li class="layui-form-item">'
                        ,'<label class="layui-form-label">发货状态</label>'
                        ,'<div class="layui-input-block">'
                        ,'<select name="status">'
                        ,'<option value="未发货">未发货</option>'
                        ,'<option value="运输中">运输中</option>'
                        ,'<option value="已送达">已送达</option>'
                        ,'<select>'
                        ,'</div>'
                        ,'</li>'
                        ,'<li class="layui-form-item">'
                        ,'<label class="layui-form-label">当前位置</label>'
                        ,'<div class="layui-input-block">'
                        ,'<input placeholder="eg.北京" class="layui-input" lay-verify="required" name="now_addr">'
                        ,'</div>'
                        ,'</li>'
                        ,'<li class="layui-form-item" style="text-align:center;">'
                        ,'<button type="submit" lay-submit lay-filter="*" class="layui-btn">提交</button>'
                        ,'</li>'
                        ,'</ul>'].join('')
                    ,success: function(layero, index){
                        layero.find('.layui-layer-content').css('overflow', 'visible');

                        form.render().on('submit(*)', function(data){
                            console.log(data.field);
                            $.ajax({
                                url:'/user/updateOrder',
                                type:'post',
                                data:{"orderId":orderId,"status":data.field['status'],"now_addr":data.field['now_addr']},
                                dataType:'json',
                                success: function (response) {
                                    if (response.code == 200){
                                        alert("更新成功");
                                        window.location.href="/user/updateOrder";
                                    }
                                    else
                                        alert("更新失败");
                                },
                                error: function () {
                                    alert("请求发送失败，请重试");
                                }
                            })
                            layer.close(index); //关闭层
                        });
                    }
                });
            }
        });
    });
</script>
</body>
</html>
