<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>商户查看订单</title>
    <link rel="stylesheet" th:href="@{/css/updateOrder.css}">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script th:src="@{/js/viewRequest.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var result = /*[[${ result }]]*/ null;
        /*]]>*/
        if(result!=null){
            var data = result['data'];
            document.token = data['token'];
            console.log(document.token);
        }
        //window.location.href="/user/viewOrderUser";
    </script>
</head>

<!-- 顶部导航 -->
<nav>
    <div class="nav-links">
        <a href="business-goodsubmit-view" class="nav-link active">商户添加商品</a>
        <a href="business-order-view" class="nav-link">商户查看订单</a>
        <!--        <a href="trackOrder" class="nav-link">商户追踪订单状态</a>-->
        <a href="business-infor-view" class="nav-link">个人中心</a>
        <a href="relogin-view" class="nav-link">登出</a>
    </div>
</nav>

<!-- 查看订单表单 -->
<div class="main-content">
    <h1>商户查看订单</h1>
    <table>
        <thead>
            <tr>
                <th>订单号</th>
                <th>货物名称</th>
                <th>出发地</th>
                <th>目的地</th>
                <th>运输价格/元</th>
                <th>承运商</th>
                <th>到达时间</th>
                <th>司机</th>
                <th>车辆</th>
                <th>当前位置</th>
                <th>订单状态</th>
                <th>签收</th>
            </tr>
        </thead>
        <tbody th:each="order:${orders}">
            <tr>
                <td th:text="${order.id}"></td>
                <td th:text="${order.goods_description}"></td>
                <td th:text="${order.begin_addr}"></td>
                <td th:text="${order.dest_addr}"></td>
                <td th:text="${order.price}"></td>
                <td th:text="${order.company_name}"></td>
                <td th:text="${order.dest_time}"></td>
                <td th:text="${order.drivername}"></td>
                <td th:text="${order.carId}"></td>
                <td th:text="${order.now_addr}"></td>
                <td th:text="${order.status}"></td>
                <td>
                    <button onclick="confirmSign(this)">确认签收</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script src="script.js"></script>
<script>
    function confirmSign(val){
        var orderId = $(val).parent().parent().find("td").eq(0).text();
        $.ajax({
            url:"/user/updateOrderSign",
            type:'post',
            // headers: { "Content-Type": "application/json" },
            data:{"orderId":orderId},
            dataType:'json',
            success:function(response){
                if(response.code==200){
                    alert("签收成功");
                    window.location.href="/user/viewOrderUser";
                }else{
                    alert("签收成功");
                    window.location.href = "/user/viewOrderUser";
                }
            },
            error:function(){
                alert("请求失败，请重试");
            }
        })
    }
</script>
</body>

</html>